input {
    color: Black;
}

.save-labels {
    padding-top: 20px;
}

button {
    position: relative;
    top:50%;
    background-color: #181818;
    color: #fff;
    border:2px;
    border-color: #181818;
    border-style: double;
    border-radius:10px;
    padding:5px;
    margin-top: 15px;
    
  }
.close-button {
    margin-left: 15px;

}

