.map-container{
    display: flex;
    width:80%;
    margin-left: auto;
 }

 .explore {
    display:flex;
 }

 .save-button {
   position: fixed;
   top: 100px
 }
 .locations-list {
   position:fixed;
   top: 140px;
 }

 .close-button-explore {
   position:fixed;
   top:120px
 }

 .location-details {
   position:fixed;
   top:200px
 }