.save-note{
        display: inline;
        position:absolute;
        left:0;
        background-color: white;
        z-index: 1001;
        height:100%;
        width:20%;
}

.toggle {
    display:inline;
    align-items: right;
    
}

.togglestrong {
    display: inline;
    
}