.details {
    display: flex;
    position:absolute;
    left:0;
    background-color: white;
    z-index: 1000;
    height:100%;
    width:20%;
}
.images {
    display:absolute;
    align-items: center;
    padding-left:60px
}
.location-details {
    display:flex;
    flex-direction:column;
    width:100%;
    padding-left:15px;
    margin-top: 330px;
}

body.active-modal {
    overflow-y: hidden;
}


.modal-edit, .overlay-edit {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay-edit {
    background: rgba(49,49,49,0.8);
}
.modal-content-edit {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}


.editLocation {
    transform: translate 
}
.details-close {
    width:4%;
}

.save-note {
 padding-left: 15px;
 opacity: 1;
}

.close-button-explore {
    transform: translate(-25%, -100%);
}

.name {
    font-weight: bold;
    font-size: 20px;
}

.notes {
    display:flex;
}

.note {
    max-width: 300px;

}

.user-notes{
    font-weight: 600;
    padding-top: 15px;
}

.layer-title {
    font-weight:600;
    padding-top: 15px;
}